/*管理员修改密码CSS文件*/

/*主区域样式*/
#main {
    height: 500px;
    float: left;
    width: 1100px;
    font-size: 18px;
}

    /*提示信息样式*/
    #main label {
        font-size: 22px;
        float: left;
        margin: 50px;
        display: block;
    }

    /*ul样式*/
    #main ul {
        width: 400px;
        margin: 120px auto;
        margin-bottom: 10px;
    }
        /*li样式*/
        #main ul li {
            line-height: 40px;
            margin-bottom: 50px;
        }

/*输入框样式*/
.inputFrame, .PawInputFrame {
    width: 180px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
}

/*新密码框水印样式*/
.PawInputFrame {
    color: gray;
}

/*按钮样式*/
.but {
    background-color: #0094ff;
    color: black;
    font-weight: bold;
    height: 45px;
    width: 220px;
    font-size: 18px;
    margin-left: 380px;
    border-radius: 2px;
    border-style: none;
    letter-spacing: 10px;
    cursor: pointer;
}
    /*按钮超链接样式*/
    .but:hover {
        color: white;
        background-color: #c61a37;
    }


/*密码强度框样式*/
.PWIntensity {
    height: 16px;
    border: 1px solid red;
    width: 165px;
    margin-left: 90px;
}

/*显示密码强度框*/
.setShow {
    display: block;
}

/*隐藏密码强度框*/
.setClose {
    display: none;
}


/*弱的背景色*/
.weak {
    width: 45px;
    background-color: #ffd800;
    height: 12px;
    margin: 2px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
}

/*中的背景色*/
.middle {
    width: 90px;
    background-color: #FF6600;
    height: 12px;
    margin: 2px;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
}

/*强的背景色*/
.strength {
    width: 145px;
    background-color: #cc0000;
    height: 12px;
    margin: 2px;
    color: white;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
}

/*超强的背景色*/
.moreStrength {
    width: 160px;
    background-color: red;
    height: 12px;
    margin: 2px;
    font-size: 10px;
    text-align: center;
    color: white;
    line-height: 16px;
}
