/*密码找回方式CSS文件*/


/* body 共同样式 */
body {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: "宋体";
    color: #9c9a9a;
    background: url(../Images/other/PasswordRecoverModeBG.png) top right repeat-x;
}

/* 去掉默认样式 */
h1, h2, h3, h4, h5, h6, ul, li, p, img, dl, dt, dd, a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border: 0;
    border-style: none;
    text-decoration: none;
}

/*logo样式*/
#logo {
    width: 260px;
    height: 50px;
    display: block;
    margin: 40px auto auto 100px;
}

/*第一个提示信息样式*/
#news1 {
    margin: 20px auto auto 100px;
    width: 400px;
}
    /*找回密码样式*/
    #news1 #getPaw {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
    }

/*邮箱手机找回框区域样式*/
#mailGet, #phoneGet {
    width: 200px;
    height: 200px;
    text-align: center;
    float: left;
    color: #3399e0;
    margin-top: 20px;
}

    /*邮箱手机找回框区域超链接样式*/
    #mailGet:hover, #phoneGet:hover {
        background-color: #f3f3f3;
        text-decoration: underline;
        cursor: pointer;
    }

    /*找回方式图片样式*/
    #mailGet img, #phoneGet img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 40px auto 20px 60px;
    }

/*邮箱找回样式*/
#mailGet {
    margin-left: 320px;
}

/*手机找回样式*/
#phoneGet {
    margin-left: 90px;
}

/*第二个提示信息样式*/
#news2 {
    margin-top: -20px;
    margin-right: 260px;
    float: right;
    line-height: 30px;
}
