@charset "utf-8";


* { margin: 0; padding: 0;list-style: none;border: none;}

.middle-search{margin:50px auto;width: 500px}
.middle-search .search-wrap{border:2px solid #2bb8aa; height:30px;line-height:30px;}

.middle-search .search-wrap .search-text {height: 100%;float: left;padding-left:15px;background: #fff;width: 75%;}
.middle-search .search-wrap .search-text input{width: 100%;height: 100%;float: left;line-height:30px;outline:0;}
.middle-search .search-wrap .search-text input:focus{color:#666;}

.middle-search .search-wrap .search-text ul{cursor: pointer;position: relative;width: 100%;height: auto;padding: 0 15px;left: -17px;z-index: 200;border: 2px solid #2bb8aa;border-top: 1px solid #ddd;overflow: hidden;background: #fff;}
.middle-search .search-wrap .search-text ul li{width:100%;position: relative;}
.middle-search .search-wrap .search-text ul li em{font-weight: 100;font-style: normal;float: right;color: #999;font-size: 12px;}
.middle-search .search-wrap .search-text ul .active{color:#fff;background:#2bb8aa;}
.middle-search .search-wrap .search-text ul .active em{color:#fff;}
.middle-search .search-wrap .search-text ul .active:after{background:#2bb8aa;}
.middle-search .search-wrap .search-text ul .active:before{background:#2bb8aa;}

.middle-search .search-wrap .search-btn{width: 20%;height: 100%;float: right;color: #fff;text-align: center;cursor: pointer;background: #2bb8aa;}



